.validation-error {
    color: #a94442;
}

#search-btn {
    border-color: #5D4384;
    background-color: #5D4384;
    color: #fff;
}

#search-dropdown {
    color: #5D4384;
}

.democrat {
    border: 3px solid #6B88C8;
}

.repub {
    border: 3px solid #C86B6B;
}