.validation-error {
    color: #a94442;
}

#search-btn {
    border-color: #5D4384;
    background-color: #5D4384;
    color: #fff;
}

#search-dropdown {
    color: #5D4384;
}

#party-chart {
    margin: auto;
    height: 200px;
    width: 100%;
}

.democrat {
    border: 3px solid #6B88C8;
}

.repub {
    border: 3px solid #C86B6B;
}

.fa-facebook-square {
    color: #3b5998;
    padding: 0 5px;
}

.fa-twitter-square {
    color: #55acee;
    padding: 0 5px;
}

.fa-youtube-square {
    color: #cd201f;
    padding: 0 5px;
}